[package]
name = "bevy_cli"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "bevy"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.86"
cargo-generate = "0.21.3"
clap = { version = "4.5.16", features = ["derive"] }
