[package]
name = "bevy_lint"
version = "0.1.0-dev"
edition = "2021"
license = "MIT OR Apache-2.0"
default-run = "bevy_lint"

[[bin]]
name = "bevy_lint"
path = "src/bin/main.rs"

# Integrates custom lints with `rustc`.
[[bin]]
name = "bevy_lint_driver"
path = "src/bin/driver.rs"

[dependencies]
# Easy error propagation and contexts.
anyhow = "1.0.86"

# Contains a series of useful utilities when writing lints. The version and commit were chosen to
# work with the currently pinned nightly Rust version. When the Rust version changes, this too
# needs to be updated!
[dependencies.clippy_utils]
version = "=0.1.82"
git = "https://github.com/rust-lang/rust-clippy"
rev = "e8ac4ea4187498052849531b86114a1eec5314a1"

[build-dependencies]
# Parse `rust-toolchain.toml` at build time.
toml_edit = { version = "0.22.22", default-features = false, features = [
    "parse",
] }

[dev-dependencies]
# Used to test lints that need Bevy's types
bevy = { version = "0.14.2", default-features = false }

[package.metadata.rust-analyzer]
# Enables Rust-Analyzer support for `rustc` crates.
rustc_private = true
