[package]
name = "bevy_lint"
version = "0.1.0-dev"
authors = ["BD103"]
edition = "2021"
description = "A collection of lints for the Bevy game engine"
repository = "https://github.com/TheBevyFlock/bevy_cli"
license = "MIT OR Apache-2.0"
# While there are two binaries available, only `bevy_lint` is intended to be called by users.
default-run = "bevy_lint"

# The main entrypoint for using Bevy lints. This program is intended to be called by users.
[[bin]]
name = "bevy_lint"
path = "src/bin/main.rs"

# The internal program called by `cargo` instead of `rustc`. While this is where the lints are
# registered, it is not intended to be called by users.
[[bin]]
name = "bevy_lint_driver"
path = "src/bin/driver.rs"

[[test]]
name = "ui"
harness = false

[dependencies]
# Easy error propagation and contexts.
anyhow = "1.0.86"

# Contains a series of useful utilities when writing lints. The version and commit were chosen to
# work with the currently pinned nightly Rust version. When the Rust version changes, this too
# needs to be updated!
[dependencies.clippy_utils]
version = "=0.1.82"
git = "https://github.com/rust-lang/rust-clippy"
rev = "e8ac4ea4187498052849531b86114a1eec5314a1"

[build-dependencies]
# Parse `rust-toolchain.toml` at build time.
toml_edit = { version = "0.22.22", default-features = false, features = [
    "parse",
] }

[dev-dependencies]
# Used when running UI tests.
bevy = { version = "0.14.2", default-features = false }

# Ensures the error messages for lints do not regress.
ui_test = "0.26.5"

[package.metadata.rust-analyzer]
# Enables Rust-Analyzer support for `rustc` crates.
rustc_private = true
