[book]
title = "Bevy CLI and Bevy Linter"
description = "The documentation for the prototype Bevy CLI and Bevy Linter"
src = "src"
language = "en"

[rust]
edition = "2024"

[output.html]
git-repository-url = "https://github.com/TheBevyFlock/bevy_cli"
edit-url-template = "https://github.com/TheBevyFlock/bevy_cli/edit/main/docs/{path}?mode=edit"
site-url = "/bevy_cli/"

# `mdbook-linkcheck2` <https://github.com/marxin/mdbook-linkcheck2> is a backend that
# verifies links are correct.
[output.linkcheck2]
# You don't need `linkcheck` installed in order to build the website.
optional = true
# The API docs are built by `rustdoc` and merged separately, so `linkcheck` doesn't know they
# exist.
exclude = ["/api/bevy_lint"]
# When enabled, this will send requests to websites to verify the pages exist. This is slow and
# places a burden on those websites when checked constantly, so this should only be enabled
# manually.
follow-web-links = false
user-agent = "mdbook-linkcheck2 (https://github.com/TheBevyFlock/bevy_cli)"
