name: Test linter action

on:
  push:
    branches: [main]
  # Only run for pull requests when the action is modified.
  pull_request:
    paths:
      - bevy_lint/action.yml
  workflow_dispatch:

jobs:
  install-linter:
    name: Install `bevy_lint`
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install `bevy_lint`
        uses: ./bevy_lint

      - name: Print `bevy_lint` version
        run: bevy_lint --version

      - name: Run `bevy_lint` on `bevy_lint`
        run: bevy_lint --package bevy_lint --locked
